@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  a {
    @apply text-indigo-700;
  }
}

@layer components {
  .primary-btn {
    @apply bg-sky-700 text-white rounded-lg h-14 disabled:bg-neutral-300 disabled:cursor-not-allowed hover:bg-sky-600 transition w-full;
  }
}